<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>Admin page</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="w-50">
                <p> <span class="fw-bold" th:text="${currentUser.getEmail()}"></span> with roles: 
                    <span th:text="${#strings.listJoin(currentUser.roles, ' ')}"></span>
                </p>
            </div>
            <div class="w-50" style="text-align: end">
                <form id="form_logout" method="POST" th:action="@{/logout}">
                    <input type="submit" value="Logout" class="inpLogout" />
                </form>
            </div>
        </div>
    </header>
    <content>
        <div id="content">
            <div class="row content_row_main">
                <div class="col-3 content_col_1">
                    <div class="block_blue p-2 text-white">Admin</div>
                    <div class="p-2 text-primary"><a style="text-decoration: none;">User</a></div>
                </div><!-- end column 1 -->
                <div class="col-9 content_col_2">
                    <div class="block_for_tab">
                        <h2 style="font-weight: 600;">Admin panel</h2>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="r_tab">
                                <button id="user-tab" class="nav-link active" aria-controls="user-tab-pane"
                                    aria-selected="true" data-bs-toggle="tab" data-bs-target="#user-tab-pane">
                                    Users table
                                </button>
                            </li>
                            <li class="nav-item" role="r_tab">
                                <button id="new_user-tab" class="nav-link" aria-controls="new_user-tab-pane"
                                    aria-selected="false" data-bs-toggle="tab" data-bs-target="#new_user-tab-pane">
                                    New User
                                </button>
                            </li>
                        </ul>

                        <div id="txt_tab_user" style="font-weight: 600;" class="border p-2">All users</div>

                        <div class="container border bg-white p-2">

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="user-tab-pane" role="tabpanel"
                                    aria-labelledby="user-tab" tabindex="1">
                                    <!-- TABLE -->
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit </th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="user_table">
                                            <!-- Строки таблицы -->
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="new_user-tab-pane" role="tabpanel"
                                    aria-labelledby="new_user-tab" tabindex="0">
                                    <!-- Form registration  -->
                                    <form action="#" class="was-validated text-center">
                                        <input readonly type="hidden" name="id" class="form-control"
                                            aria-describedby="id">

                                        <label for="name" class="form-label">First name</label>
                                        <input required type="text" name="name" class="form-control"
                                            placeholder="First name">

                                        <label for="surname" class="form-label">Last name</label>
                                        <input required type="text" name="surname" class="form-control"
                                            placeholder="Last name">

                                        <label for="age" class="form-label">Age</label>
                                        <input required type="number" min="0" max="100" name="age" class="form-control"
                                            placeholder="Age">

                                        <label for="email" class="form-label">Email</label>
                                        <input required type="email" name="email" class="form-control"
                                            aria-describedby="emailHelp" placeholder="Email address">

                                        <label for="password" class="form-label">Password</label>
                                        <input required type="password" name="password" class="form-control"
                                            placeholder="Password">

                                        <label for="roles" class="form-label">Role</label>
                                        <select required multiple name="roles" class="form-control"
                                            aria-label="multiple select example" size="2">
                                            <option value="ADMIN USER">ADMIN USER</option>
                                            <option value="USER">USER</option>
                                        </select>
                                        <input id="clear" type="reset" style="display: none;">
                                        <button type="submit" class="mt-3  btn btn-primary w-75"
                                            style="background: #218838; border: none;">Add new user</button>

                                    </form>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end column 2 -->
            </div>
        </div>
    </content>
    <!-- Модальное окно -->
    <div class="modal fade" id="modal_user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalToggleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="conteiner w-50 m-auto">
                        <!-- Форма редактирования  -->
                        <div class="edit_form_btn was-validated" style="display: none;" >
                            <form method="post" action="#" id="id_edit">
                                <label for="id" class="form-label">ID</label>
                                <input readonly type="text" name="id" class="form-control" aria-describedby="id">
                                
                                <label for="name" class="form-label">First name</label>
                                <input readonly type="text" name="name" class="form-control" placeholder="First name">

                                <label for="surname" class="form-label">Last name</label>
                                <input required type="text" name="surname" class="form-control" placeholder="Last name">

                                <label for="age" class="form-label">Age</label>
                                <input required type="number" name="age" class="form-control" placeholder="Age">
                                
                                <label for="email" class="form-label">Email</label>
                                <input required type="email" name="email" class="form-control"
                                    aria-describedby="emailHelp">

                                <label for="password" class="form-label">Password</label>
                                <input required type="password" name="password" class="form-control"
                                    placeholder="Password">

                                <label for="roles" class="form-label">Role</label>
                                <select name="roles" class="form-control" aria-label="multiple select example" size="2">
                                    <option value="ADMIN USER">ADMIN USER</option>
                                    <option value="USER">USER</option>
                                </select>
                            </form>
                        </div><!-- end edit -->

                        <!-- Форма удаления  -->
                        <div class="delete_form_btn" style="display: none;">
                            <form method="post" action="#" id="id_del">
                                <label for="id" class="form-label">ID</label>
                                <input readonly type="text" name="id" class="form-control" aria-describedby="id">
                                
                                <label for="name" class="form-label">First name</label>
                                <input readonly type="text" name="name" class="form-control" placeholder="First name">

                                <label for="surname" class="form-label">Last name</label>
                                <input readonly type="text" name="surname" class="form-control" placeholder="Last name">

                                <label for="age" class="form-label">Age</label>
                                <input readonly type="number" name="age" class="form-control" placeholder="Age">
                                
                                <label for="email" class="form-label">Email</label>
                                <input readonly type="email" name="email" class="form-control"
                                    aria-describedby="emailHelp">

                                <input required type="hidden" name="password" class="form-control"
                                    placeholder="Password">
                                
                                <label for="roles" class="form-label">Role</label>
                                <select name="roles" disabled="disabled" class="form-control"
                                    aria-label="multiple select example" size="2">
                                    <option value="ADMIN USER">ADMIN USER</option>
                                    <option value="USER">USER</option>
                                </select>
                            </form>
                        </div><!-- end delete -->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary delete_form_btn" form="id_del"
                            style="background: #DC3545; border: none; display: none;">Delete</button>

                        <button type="submit" class="btn btn-primary edit_form_btn" form="id_edit"
                            style="display: none;">Edit</button>
                    </div>
                </div>
            </div>
        </div> <!-- end modal -->

        <script th:src="@{js/bootstrap.bundle.min.js}"></script>
        <script type="module" th:src="@{js/main.js}"></script>
</body>

</html>