<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="w-50">
                <p>Home</p>
            </div>
            <div class="w-50">
                <p style="text-align: right;">
                    <a th:href="@{/login}" class="log_reg">Вход</a>
                </p>
            </div>
        </div>
    </header>
    <content>
        <div class="container">
            <div class="row content_row_main">
                <div class="col-3 content_col_1">
                    <div class="block_blue txt_padding"></div>
                </div>
                <div class="col-9 content_col_2">
                    <div class="container text-center fw-bold">
                        
                    </div>
                </div>
            </div>
        </div>
    </content>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>

</html>