<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <content>
        <div th:if="${error}" class="text-center">Unable to login. Check your username and password.</div>

        <form method="post" th:action="@{/login}" id="loginForm" style="margin: 0 auto;">
            <h4 style="font-weight: 600;">Please sign in</h4>
            <div class="mb-3">
                <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                    placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary w-100" value="Login">Login</button>
        </form>
    </content>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>

</html>