<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>User page</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="w-50">
                <p> <span class="fw-bold" th:text="${currentUser.getEmail()}"></span> with roles: 
                    <span th:text="${#strings.listJoin(currentUser.roles, ' ')}"></span>
                </p>
            </div>
            <div class="w-50" style="text-align: end">
                <form id="form_logout" method="POST" th:action="@{/logout}">
                    <input type="submit" value="Logout" class="inpLogout" />
                </form>
            </div>
        </div>
    </header>
    <content>
        <div id="content">
            <div class="row content_row_main">
                <div class="col-3 content_col_1">
                    <div class="block_blue p-2 text-white">User</div>
                </div><!-- end column 1 -->
                <div class="col-9 content_col_2">
                    <div class="block_for_tab">
                        <h2 style="font-weight: 600;">User information-page</h2>

                        <div style="font-weight: 600;" class="border p-2">About user</div>
                        <div class="container border bg-white p-2">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="user-tab-pane" role="tabpanel"
                                    aria-labelledby="user-tab" tabindex="1">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td th:text="${currentUser.id}">clm-1</td>
                                                <td th:text="${currentUser.name}">clm-2</td>
                                                <td th:text="${currentUser.surname}">clm-3</td>
                                                <td th:text="${currentUser.age}">clm-4</td>
                                                <td th:text="${currentUser.email}">clm-5</td>
                                                <td th:text="${#strings.listJoin(currentUser.roles, ' ')}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end tab content -->
                        </div>
                    </div> <!-- end block tab -->
                </div><!-- end column 2 -->
            </div>
        </div>
    </content>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>

</html>